@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav {
    background: #121212;
    height: 80px;
    width: 100%;
    overflow: hidden;
    position: sticky;
    top: -1px;
}

.enlace{
    position: absolute;
    padding: 20px 100px;
}
.logo{
    height: 45px;
}
nav ul{
    float: right;
    margin-right: 25px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    padding: 0 12px;
    margin: 0 3px;

}
button .btn-outline-dark{
    display: flex;
    margin-top: 200px;

}

nav ul li.nav-item1{
    display: inline-block;
    line-height: 80px;
    padding: 0 12px;
    margin: 0 3px;

}
nav ul li a.nav-link{
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 7px 15px;
    border-radius: 18px;
    text-transform: uppercase;
    text-decoration: none;

}

nav ul li.nav-item1 a.nav-link1{
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 7px 15px;
    border-radius: 18px;
    text-transform: uppercase;
    text-decoration: none;

}

nav ul li a.nav-link.active, li a.nav-link:hover{
    color: rgb(229,14,58);
    transition: .5s;
    cursor: pointer;
}

nav ul li.nav-item1 a.nav-link1.active, li a.nav-link1:hover{
    background: rgb(188, 185, 185);
    color: rgb(229,14,58);
    transition: .7s;
    cursor: pointer;
}

.botones{
    display: flex;
}
#check {
    display: none;
}
.checkbtn{
    display: none;
}


/*responsive*/
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 1200px){
    
    body nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    body nav label.checkbtn, .check{
        display: flex;
        color: rgb(255, 255, 255);
        margin-left: auto;
        margin-top: 20px;
        margin-right: 20px;

    }
    body nav i{
        font-size: 45px;
    }
    body nav label.check{
        display: block;

    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #121212;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li.nav-item1{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }

    nav ul li.nav-item1 a.nav-link1{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #E50E3A;
    }
    #check:checked ~ ul{
        left:0;
    }
}



