@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* HEADER */
header{
    position: sticky;
    top: -1px;
}
nav{
    background: #121212;
    height: 80px;
    width: 100%;
    overflow: hidden;

}
.enlace{
    position: absolute;
    padding: 20px 100px;
}
.logo{
    height: 45px;
}
nav ul{
    float: right;
    margin-right: 25px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    padding: 0 12px;
    margin: 0 3px;

}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 15px;
    border-radius: 18px;
    text-transform: uppercase;
    text-decoration: none;

}
li a.active, li a:hover{
    background: #E50E3A;
    transition: .5s;
}

.button-login{
    border: 2px solid rgb(34, 34, 34);
    padding: 4px 10px;
}

.button-login:hover{
    background-color: black;
}

.button-register{
    border: 2px solid rgb(34, 34, 34);
    padding: 5px;
    background-color: rgb(152, 9, 38);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 2px;
}

.button-register:hover{
    border-color: rgb(229, 14, 58);
    background-color: rgb(34, 34, 34);
    transition: .5s;
}
.checkbtn{
    font-size: 40px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.body-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: -1px;
}
.index-header, .index-header2, .index-header3{
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 50px;
    transition: opacity 0.9s ease-in-out;
}
.index-header{
    background-image: linear-gradient(to right, rgb(0 0 0 / .5),rgb(0 0 0 / .5)), url('../img/wallpaper-dimsum.jpg');
}
.index-header2{
    background-image: linear-gradient(to right, rgb(0 0 0 / .5),rgb(0 0 0 / .5)), url('../img/index2.jpeg');
}

.index-header3{
    background-image: linear-gradient(to right, rgb(0 0 0 / .5),rgb(0 0 0 / .5)), url('../img/index.3.jpeg');
}


.index-font{
    display: flex;
    flex-direction: column;
    width: 50%;
}
h1{
    font-size: 50px;  
    color:white;
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 0px;

}

.index-resume{
    font-size: 23px;
}
.buttons-container{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}
.button-carta{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 60px;
    padding: 10px;
    background-color: rgb(197, 11, 11);
    margin-right: 40px;
    .img-icon{
        display: flex;
        width: 45px;
        height: 45px;
    }
    .button-font{
        text-decoration: none;
        color: white;
        font-size: 18px;
        justify-content: center;
    }
}

.button-calendar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 10px;
    background-color: rgb(34, 34, 34);
    .img-icon{
        display: flex;
        width: 45px;
        height: 45px;
    }
    .button-font{
        text-decoration: none;
        color: white;
        font-size: 18px;
        justify-content: center;
    }
}

.text{
    display: flex;
    flex-direction: column;
    background-color: black;
    
    #img-content{
        width: 100%;
        height: auto;
    }
}

.content-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.content-botton{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.content-img{
    display: flex;
    width: 50%;
    margin-top: 0px;
}

.content-text{
    width: 50%;
    justify-content: center;
}

h2{
    color: white;
    font-size: 34px;
}
p{
    color: white;
    font-size: 25px;
    padding: 2px 20px 20px 20px;
}

/* FOOTER */
.footer{
    width: 100%;
    background-color: #121212;
}
.footer .g1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.footer .g1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .g1 .box figure img{
    width: 180px;
}
.footer .g1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
.footer .g1 .box {
    text-align: center;
}
.footer .g1 .box .info{
    color: #fff;
}
.footer .g1 .box .info:hover{
    color: #E50E3A;
}
.footer .g1 .box .social a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    width: 55px;
    height: 45px;
    line-height: 45px;
    margin-right: 40px;
    padding-left: 32px;
    /* text-align: center;
    justify-content: center; */
    transition: all 300ms ease;
}
.footer .g1 .box .social a:hover{
    color: #E50E3A;
}
.footer .g2{
    background-color: #E50E3A;
    padding: 10px;
    text-align: center;
    color: #fff;
}
.footer .g2 small{
    font-size: 15px;
}

@media (max-width: 750px){
    .index-container{
        align-items: center;
        justify-content: center;
    }
    .index-header{
        align-items: center;
        padding: 0px;
        background-image: linear-gradient(to right, rgb(0 0 0 / .7),rgb(0 0 0 / .7)), url('../img/wallpaper-dimsum.jpg');
        justify-content: center;
    }

    .index-header2{
        align-items: center;
        padding: 0px;
        background-image: linear-gradient(to right, rgb(0 0 0 / .5),rgb(0 0 0 / .5)), url('../img/index2.jpeg');
        justify-content: center;
    }
    .index-header3{
        align-items: center;
        padding: 0px;
        background-image: linear-gradient(to right, rgb(0 0 0 / .5),rgb(0 0 0 / .5)), url('../img/index.3.jpeg');
        justify-content: center;
    }
    .index-font{
        text-align: center;
        width: 100%;
    }
    h1{
        font-size: 40px;  
        color:white;
        margin-bottom: 0px;
    
    }
    
    .index-resume{
        font-size: 15px;
        text-align: center;
        text-wrap: balance;
    }
    .buttons-container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        flex-direction: row;
        width: 80%;
        height: auto;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .button-carta{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 7px;
        
        .img-icon{
            display: flex;
            width: 15%;
            height: auto;
            margin-right: 5px;
        }
        .button-font{
            text-decoration: none;
            color: white;
            font-size: 16px;
            justify-content: center;
        }
    }
    
    .button-calendar{
        align-items: center;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 7px;
        margin-right: 20px;
        .img-icon{
            width: 15%;
            height: auto;
            margin-right: 5px;
        }
        .button-font{
            text-decoration: none;
            color: white;
            font-size: 16px;
            justify-content: center;
        }
    }

    .text{
        display: flex;
        flex-direction: column;
        background-color: black;
        width: 100%;
        overflow: hidden;
        #img-content{
            width: 100%;
            height: auto;
        }
    }
    .text{
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }

    .content-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .content-botton{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .content-img{
        display: flex;
        width: 100%;
        margin-top: 0px;
    }
    
    .content-text{
        width: 100%;
        justify-content: center;
    }

    h2{
        color: white;
        font-size: 28px;
        margin-top: 15px;
    }
    p{
        color: white;
        font-size: 18px;
        padding: 2px 20px 20px 20px;
        text-wrap: balance;
    }

}

/*header-footer*/
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #121212;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #E50E3A;
    }
    #check:checked ~ ul{
        left:0;
    }
    .footer .g1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
