 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* HEADER */

nav{
    background: #121212;
    height: 80px;
    width: 100%;

}
.enlace{
    position: absolute;
    padding: 20px 100px;
}
.logo{
    height: 45px;
}
nav ul{
    float: right;
    margin-right: 100px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    padding: 0 12px;
    margin: 0 5px;

}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 15px;
    border-radius: 18px;
    text-transform: uppercase;
    text-decoration: none;

}
li a.active, li a:hover{
    background: #E50E3A;
    transition: .5s;
}
.checkbtn{
    font-size: 40px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* BODY */
body{
    background-color: #222222;
}


.info{
    display: block;
    #fondo-walok{
        display: flex;
        width: 100%;
        height: 450px;
        opacity: 0.4;
    }
    .title{
        position: absolute;
        top: 120px;
        left: 70px;
        color: white;
        font-size: 40px;
    }
    .resumen{
        position: absolute;
        top: 200px;
        left: 70px;
        color: white;
        max-width: 550px;
        font-size: 25px;
        text-align: justify;
        
    }
}
.button-carta{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 380px;
    left: 80px;
    align-items: center;
    border: 2px solid rgb(197, 11, 11);
    border-radius: 60px;
    padding: 10px;
    background-color: rgb(197, 11, 11);
    margin-right: 90px;
    .img-icon{
        display: flex;
        width: 50px;
        height: 50px;
    }
    .button-font{
        text-decoration: none;
        color: white;
        font-size: 18px;
        justify-content: center;
    }
}

.button-calendar{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 380px;
    left: 340px;
    align-items: center;
    border: 2px solid rgb(34, 34, 34);
    border-radius: 60px;
    padding: 10px;
    background-color: rgb(34, 34, 34);
    margin-right: 90px;
    .img-icon{
        display: flex;
        width: 50px;
        height: 50px;
    }
    .button-font{
        text-decoration: none;
        color: white;
        font-size: 18px;
        justify-content: center;
    }
}

.history-container{
    display: flex;
    flex-direction: row;
    background: rgb(0, 0, 0);
    width: 100%;
    .history{
        display: flex;
        flex-direction: column;
        padding: 70px;
        height: auto;
    }
    .title{
        display: flex;
        color: white;
        font-size: 40px;
    }
    .resumen{
        display: flex;
        font-size: 22px;
        text-align: justify;
        color: white;
    }
    .img-walok{
        width: 170%;
        height: auto;
    }
}

.mision-container{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    .mision-walok-img{
        width: 126%;
    }
    .mision{
        display: flex;
        flex-direction: column;
        margin: 70px;
    }
    .title{
        color: white;
        font-size: 40px;
    }
    .mision-text{
        text-align: justify;
        font-size: 22px;
    }
    
}

/* FOOTER */
.footer{
    width: 100%;
    background-color: #121212;
}
.footer .g1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.footer .g1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .g1 .box figure img{
    width: 180px;
}
.footer .g1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
.footer .g1 .box {
    text-align: center;
}
.footer .g1 .box .info{
    color: #fff;
}
.footer .g1 .box .info:hover{
    color: #E50E3A;
}
.footer .g1 .box .social a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    width: 55px;
    height: 45px;
    line-height: 45px;
    margin-right: 40px;
    padding-left: 32px;
    /* text-align: center;
    justify-content: center; */
    transition: all 300ms ease;
}
.footer .g1 .box .social a:hover{
    color: #E50E3A;
}
.footer .g2{
    background-color: #E50E3A;
    padding: 10px;
    text-align: center;
    color: #fff;
}
.footer .g2 small{
    font-size: 15px;
}
/* Historia responsive */
@media (max-width: 952){
    
    .info{
        overflow: auto;
        .title{
            font-size: 16px;
        }
    }
    
}
/*header-footer*/
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #121212;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #E50E3A;
    }
    #check:checked ~ ul{
        left:0;
    }
    .footer .g1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
